:root{
    --bgcBody:#1b1b1b;
    --bgcCard: #252525;
    --warning: #9b341b;
}

body {
    font-family: "Pixelify Sans", serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: var(--bgcBody);
    color: #fff;
}

#settings {
    position: fixed;
    top: 10px;
    left: 10px;
    border-radius: 6px;
    background-color: var(--bgcCard);
    padding: 12px
}

#customMapInput {
    position: fixed;
    top: 20px;
    background-color: var(--bgcCard);
    padding: 12px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mapInput{
    display: none;
}

#mapCanvas{
    position: relative;

}

.canvasCon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvasCon > p {
    font-size: x-large;
    margin: 0px;
}

.canvas{
    max-width: 500px;
    border: #cdcdcd solid;
}

.warning{
    color: var(--warning);
    font-weight: bold;
}

a{
    position: absolute;
    justify-self: center;
    color: #fff;
    bottom: 20px;
    background-color: var(--bgcCard);
    padding: 12px;
    border-radius: 6px;
}


#convert{
    background-color: var(--bgcCard);
    width: 300px;
    height: 100px;
    border: 0px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Pixelify Sans", serif;
    font-size: xx-large;
    cursor: pointer;
}

.icon > svg{
    fill: #fff;
    width: 50px;
    height: auto;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}


#mapInputURL{
    color: #cdcdcd;
    background-color: var(--bgcBody);
    border: 0px;
    padding: 12px;
    border-radius: 6px;
    outline: var(--bgcCard) solid 10px;
    position: fixed;
    top: 100px;
    width: 400px;
    font-family: "Pixelify Sans", serif;
}

.upload> svg{
    width: 30px;
}


#pasteIndicator{
    position: fixed;
    top: 150px;
}


#mapInputURL.wrong{
    background-color: #251B1B;
}